/* app css stylesheet */

:root {
  --colorbg: #001B57;
  --colorbg2: #26417D;
  --colorfont: #FFFFFF;
  colorhl: #B33B00;
  colorhl2: #8D1500;
}

body {
  background-color: var(--colorbg);
  color: var(--colorfont);
  padding-top: 3rem;
}

body * {
  font-size: 1rem;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--colorbg);
}

thead tr,
tbody tr:nth-child(even) {
  background-color: var(--colorbg2);
}

.table {
  width: 0%;
  margin: 0.5rem;
}

.table .throws {
  width: 2rem;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.best {
  background-color: limegreen;
}