/* app css stylesheet */

:root {
  --colorbg: #001B57;
  --colorbg2: #26417D;
  --colorfont: #FFFFFF;
  colorhl: #B33B00;
  colorhl2: #8D1500;
  font-size: 14px;
}

body {
  padding-top: 3rem;
}
body, input, mydp * {
  background-color: var(--colorbg);
  color: var(--colorfont);
}

body * {
  font-size: 1rem;
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--colorbg);
}

.results thead tr,
.results tbody tr:nth-child(even) {
  background-color: var(--colorbg2);
}

.results {
  width: 0%;
  margin: 0.5rem;
}

.results thead tr th,
.results tbody tr td {
  min-width: 3.2rem;
  height: 3.2rem;
  padding: 0.5rem;
  vertical-align: middle;
}
.results .throws {
  text-align: center;
}
.results input {
  width: 10rem;
}

.datecolumn, .notecolumn {
  width: 12rem;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.best {
  background-color: limegreen;
}