<ng-template [ngIf]="newCourse">
    <h1>Create new course</h1>
    <p>
        Course name:<br>
        <input type="text" [(ngModel)]="newCourse.name" id="courseName" required>
    </p>
    <div>
        Holes:<br>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr class="headline">
                    <th *ngFor="let hole of newCourse.holes; let holeIndex = index" class="throws">{{holeIndex + 1}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let hole of newCourse.holes; let holeIndex = index" class="throws">
                        <button class="btn btn-primary" [disabled]="hole.par >= 5" (click)="incPar(hole)"><i class="fa fa-plus"></i></button>
                        <div>{{hole.par}}</div>
                        <button class="btn btn-primary" [disabled]="hole.par <= 3" (click)="decPar(hole)"><i class="fa fa-minus"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>

<ng-template [ngIf]="!newCourse">
    <h1>Existing Courses</h1>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="headline">
                <th>Name</th>
                <th *ngFor="let holeIndex of dataService.holeIndexRange()" class="throws">{{holeIndex + 1}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of dataService.courses">
                <td>{{course.name}}</td>
                <td *ngFor="let holeIndex of dataService.holeIndexRange()" class="throws">{{holeIndex < course.holes.length ? course.holes[holeIndex].par : ''}} </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<footer class="navbar navbar-toggleable-sm navbar-inverse fixed-bottom">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#toolbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toolbar">
        <button class="btn btn-primary" (click)="startCreating()" *ngIf="!newCourse"><i class="fa fa-plus"></i> new Course</button>

        <ng-template [ngIf]="newCourse">
            <div>
                <button class="btn btn-primary" [disabled]="newCourse.holes.length >= 18" (click)="addHole()"><i class="fa fa-plus"></i></button>
                <button class="btn btn-primary" [disabled]="newCourse.holes.length <= 9" (click)="removeHole()"><i class="fa fa-minus"></i></button>
            </div>

            <div>
                <button class="btn btn-primary" *ngFor="let holeCount of [9, 12, 15, 18]" [disabled]="newCourse.holes.length == holeCount" (click)="adjustHoleCount(holeCount)">{{holeCount}}</button>
            </div>

            <div>
                <button class="btn btn-primary" [disabled]="!newCourseIsValid()" (click)="finishCreating()"><i class="fa fa-check"></i> save</button>
                <button class="btn btn-primary" (click)="newCourse = null"><i class="fa fa-ban"></i> cancel</button>
            </div>
        </ng-template>
    </div>
</footer>