<div class="btn-group">
    <label class="btn btn-primary" ng-model="showLast10" uib-btn-radio="true" ng-change="updateData()">Last 10</label>
    <label class="btn btn-primary" ng-model="showLast10" uib-btn-radio="false" ng-change="updateData()">All</label>
</div>{{lineLimit}}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Datum</th>
            <th>Bemerkung</th>
            <th ng-repeat="n in [].constructor(18) track by $index" class="throws">{{$index + 1}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
            <td>AVG</td>
            <td ng-repeat="throwsForHole in avgRoundThrows track by $index">{{throwsForHole | number : 1}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>MIN</td>
            <td ng-repeat="throwsForHole in minRoundThrows track by $index">{{throwsForHole}}</td>
        </tr>
        <tr ng-repeat="round in rounds | limitTo : lineLimit">
            <td>{{$index + 1 + showOffset}}</td>
            <td>{{round.date}}</td>
            <td>{{round.note}}</td>
            <td ng-repeat="throwsForHole in round.throws track by $index" 
                style="background-color: {{calcColor(round, $index)}}">
                {{throwsForHole}}
            </td>
        </tr>
    </tbody>
</table>