<div [(ngModel)]="showLast10" ngbRadioGroup name="showLast10" (ngModelChange)="updateData()">
    <label class="btn btn-primary"><input type="radio" [value]="true">Last 10</label>
    <label class="btn btn-primary"><input type="radio" [value]="false">All</label>
</div>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Datum</th>
            <th>Bemerkung</th>
            <th *ngFor="let n of [].constructor(18); let holeIndex = index" class="throws">{{holeIndex + 1}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
            <td>AVG</td>
            <td *ngFor="let throwsForHole of avgRoundThrows">{{throwsForHole | number:'1.1-1'}}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td>MIN</td>
            <td *ngFor="let throwsForHole of minRoundThrows">{{throwsForHole}}</td>
        </tr>
        <tr *ngFor="let round of rounds | slice:0:lineLimit; let roundIndex = index">
            <td>{{roundIndex + 1 + showOffset}}</td>
            <td>{{round.date}}</td>
            <td>{{round.note}}</td>
            <td *ngFor="let throwsForHole of round.throws; let holeIndex = index" 
                [style.backgroundColor]="colorMap[roundIndex][holeIndex]">
                {{throwsForHole}}
            </td>
        </tr>
    </tbody>
</table>