/* app css stylesheet */

:root {
  --colorbg: #001B57;
  --colorbg2: #26417D;
  --colorfont: #FFFFFF;
  colorhl: #B33B00;
  colorhl2: #8D1500;
}

body {
  background-color: var(--colorbg);
  color: var(--colorfont);
}

thead tr,
tbody tr:nth-child(even) {
  background-color: var(--colorbg2);
}

.table {
  width: 0%;
  margin: 20px;
}

.table .throws {
  width: 2em;
}

.good {
  background-color: green;
}

.bad {
  background-color: red;
}

.best {
  background-color: limegreen;
}