<div class="paragraph">
    <button class="btn btn-primary" (click)="dataService.load()">Load</button>
    <button class="btn btn-primary" (click)="dataService.save()">Save</button>
</div>

<div class="paragraph">
    <button class="btn btn-primary" (click)="importService.initFromCsv()">Import</button><br>
</div>

<div class="paragraph">
    <button class="btn btn-primary" (click)="dataService.clear()">Clear Database</button><br>
</div>

<div class="paragraph">
    <button class="btn btn-primary" (click)="downloadDBDump()">Download DB dump</button><br>
    <input type="file" id="imporFileInput" accept=".json" style="display: none" (change)="setImportFile($event)">
    <label for="imporFileInput" class="btn btn-primary">Choose file for import</label>
</div>
