@import "~bootstrap/dist/css/bootstrap.min.css";

/* remove spinners from number input fields */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* app css stylesheet */

:root {
  --colorbg: #001B57;
  --colorbg2: #26417D;
  --colorfont: #FFFFFF;
  --colorhl: #B33B00;
  --colorhl2: #8D1500;
  font-size: 14px;
}

body {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--colorbg);
  color: var(--colorfont);
  font-size: 1rem;
}

nav,
footer {
  background-color: var(--colorbg2);
}


#toolbar > * {
  margin-right: 1.0rem;
}
.btn-primary.focus {
  box-shadow: none;
}
.btn-primary {
  background-color: var(--colorbg2);
  color: var(--colorfont);
  border-color: var(--colorfont);
}
.btn-primary.active,
.btn-primary:hover {
  background-color: var(--colorhl2);
  border-color: var(--colorfont);
}

.results thead tr {
  background-color: var(--colorbg2);
}

.results {
  width: 0%;
}

.results thead tr th,
.results tbody tr td {
  min-width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  vertical-align: middle;
}
.results .throws {
  text-align: center;
}
