@import "bootstrap.min.css";

/* remove spinners from number input fields */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* app css stylesheet */

:root {
  --colorbg: #001B57;
  --colorbg2: #26417D;
  --colorinactive: #525252;
  --colorfont: #FFFFFF;
  --colorhl: #B33B00;
  --colorhl2: #8D1500;
  font-size: 14px;
}

body {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: var(--colorbg);
  color: var(--colorfont);
  font-size: 1rem;
}

nav,
footer,
tr.headline,
tr.metric,
input {
  background-color: var(--colorbg2);
}

#toolbar > * {
  margin-right: 1.5rem;
}
#toolbar button {
  margin-right: 0.25rem;
}

.btn-primary {
  background-color: var(--colorbg2);
  color: var(--colorfont);
  border-color: var(--colorfont);
}
.btn-primary.focus {
  box-shadow: none;
}
.btn-primary.active,
.btn-primary:hover {
  background-color: var(--colorhl2);
  border-color: var(--colorfont);
}
.btn-primary:disabled {
  background-color: var(--colorinactive);
  border-color: var(--colorfont);
}

.table {
  width: 0%;
}
th, 
td {
  min-width: 3rem;
  height: 2.5rem;
  padding: 0.5rem;
  vertical-align: middle;
}
.throws {
  text-align: center;
}
.throws >*:not(button) {
  margin: 0.5rem;
}

input {
  color: var(--colorfont);
  padding: 0.5rem;
  width: 20rem;
  border-radius: 0.25rem;
  border: 1px solid var(--colorfont);
}

.paragraph {
  margin-bottom: 1rem;
}

ngb-datepicker {
  background-color: white;
}

.round-input-column {
  width: 5rem;
}
.table button {
  width: 100%;
}